#introductions {
	color:#A0FFB1;
	margin-left:15%;
	margin-right:15%;
	margin-top:7%;
	font-size:0.9em;
}
#register_block {
	margin-left: auto;
    	margin-right: auto;
	margin-top:7%;
    	width: 62%;
	height:55%;
}
#register_form_div{
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
	width:70%;
	
}


fieldset
{
	border: 1px solid #781351;
	width: 100%;
	height:35%;
}

legend
{
	color: #fff;
	background:#781351;
	border: 1px solid #781351;
	padding: 2% 4%;
	font-size:0.9em;
}

#register_form_submit{
	float:right;
	margin-top:1%;
	margin-right:-5%;
}

#login{
	margin-top: 1%;
	display:inline;
}

#login span{
	color:#A0FFB1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-right:1em;
	margin-left:0.5em;
}

#login_submit{
	color:white;
	font-size:0.77em;
	margin-left:1%;
	margin-right:1%;
	display:inline;
}

