*{
	margin:0;
}

html,body{
	height:100%;
	font-family:Gill Sans, Verdana;;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

.groupTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;
}

.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold; }

.tableMenu {
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border:#0033FF thin;
	border-style:solid;
	padding:5px;
	height:100%;
}

.titleMenu {
	font: 18px Arial, Helvetica, sans-serif;
	color:#0066FF;
}

td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.text1 {
	color:#0033FF;
}

.bordaBox {bbackground: ttransparent; width:95%;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 { border-left:1px solid #0033FF; border-right:1px solid #0033FF;}
.bordaBox .b1 {margin:0 5px; background:#0033FF;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .conteudo {padding:10px; display:block; border-left:1px solid #0033FF; border-right:1px solid #0033FF; text-align:justify;}
.conteudoRight {padding:10px; display:block; border-left:1px solid #0033FF; border-right:1px solid #0033FF; text-align:right;}
.conteudoReply {padding-left:50px; padding-right:10px; display:block; border-left:1px solid #0033FF; border-right:1px solid #0033FF; text-align:justify;}


.tableReply {
	border-style:solid;
	border-color: #FF9933;
	border-width:1px;
}


.postMessage {

}



.cssplayNav {
	padding:0; 
	margin:auto; 
	list-style:none; 
	height:50px; 
	width:306px; 
	overflow:hidden;
	border-top:1px solid #ccc; 
	border-bottom:1px solid #ccc;
}

.cssplayNav li {
	float:left;
}

.cssplayNav li a {display:block; float:left; width:100px; line-height:50px; text-align:center; font-family:arial, sans-serif; font-size:13px; text-decoration:none; font-weight:bold; border-right:1px solid #333; border-left:1px solid #ccc;
-moz-transition: 0.25s;
-ms-transition: 0.25s;
-o-transition: 0.25s;
-webkit-transition: 0.25s;
transition: 0.25s;
}
.cssplayNav li a b {display:block; width:0; height:0; border-left:50px solid #069; border-right:50px solid #069; border-bottom:20px solid #fc6; overflow:hidden;}
.cssplayNav li a:before {content: attr(rel); background:#069; color:#fff; display:block; width:100px; height:50px; text-align:center;
background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -ms-linear-gradient(-90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -o-linear-gradient(-90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: linear-gradient(-90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
}
.cssplayNav li a:after {content: attr(rel); background:#fc6; color:#000; display:block; width:100px; height:50px; text-align:center;
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: -o-linear-gradient(90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
background-image: linear-gradient(90deg, rgba(255, 255, 255,0.4), rgba(255, 255, 255,0));
}
.cssplayNav li a:hover {margin-top:-70px;}


.writeTxtArea {
	width: 95%;
	height: 100px;
	border: solid 1px #000;
	color:#999999; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:5px;
}


/* This imageless css button was generated by CSSButtonGenerator.com */
.inputUpload {
	height: 20px;
	width: 200px;
	border-style:solid;
	border-width: 1px;
	border-color: #1F447B;
}

.inputSmall {
	height: 20px;
	width: 100px;
	border-style:solid;
	border-width: 1px;
	border-color: #000;
}

.inputMed {
	height: 20px;
	width: 200px;
	border-style:solid;
	border-width: 1px;
	border-color: #000;
}

.inputLar {
	height: 20px;
	width: 400px;
	border-style:solid;
	border-width: 1px;
	border-color: #000;
}

.textLar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:justify;
	text-indent: 20px;
	color:#009900;
}

.selectMed {
	height: 20px;
	width: 200px;
	border-style:solid;
	border-width: 1px;
	border-color: #000;
}


.titleMenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:justify;
	text-indent: 20px;
	color:#FFF;
}

.link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCCCC;
}

.linkBlue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#006699;
}

.inputFile {
	width: 200px;
	height: 20px;
	border-style:solid;
	border-width: 1px;
	border-color: #000;
}

.banner {
	position:absolute;
	top:20%;
	left:25%;		
	background-color: #C2DAFC; 
	color: #000000; 
	font-weight: bold;
	font-size: 16px; 
	width:50%; 
	vertical-align:middle;
}


#container{
	width:100%;
	margin:auto;
	
}

#left{
	width:15%;
	float:left;
	margin-right:1%;
	
}

#middle{
	width:64%;
	float:left;
	
}

#right{
	float:right;
	width:20%;
	
}

#leftside{
	float:left;
	width:200;
	margin:auto;
}


#rightside{
	float:left;
	width:80%;
	
}

#footer{
	text-align:center;
	margin-top:10%;
	float:center;
}
#footer .footer_text{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.button {
	-moz-box-shadow:inset 0px 1px 5px -12px #ffffff;
	-webkit-box-shadow:inset 0px 1px 5px -12px #ffffff;
	box-shadow:inset 0px 1px 5px -12px #ffffff;
	background-color:#e6e6e6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background-color:#f6f6f6;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.body{
background: rgb(69,72,77); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.glass {
    position: relative;
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 0;
    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

input{
border:1px solid #3b6e22;
background: #A0FFB1;
}

label{
display:block;
margin-bottom:10px;
color:#A0FFB1;
}

label span{
display:block;
width:20em;
float:left;
padding-right:2em;
text-align:right;
font-weight:bold;
}

