html,body{
	height:100%;
	font-family:Gill Sans, Verdana;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

a{
	font-family:Arial, Helvetica, sans-serif;
	color:#6F8582;
	font-size:90%;
}

.banner {
	position:absolute;
	top:20%;
	left:25%;
	background-color: #C2DAFC; 
	color: #000000; 
	font-weight: bold;
	font-size: 16px; 
	width:50%; 
	vertical-align:middle;
}


#container{
	width:100%;
	margin:auto;
}

#footer .footer_text{
	text-align: center;
	font-size: 0.8em;
	 margin-left: auto;
    margin-right: auto;
}


.body{
background: rgb(69,72,77); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.glass {
    position: relative;
    display: block;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 0;
    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

/*this is for all the input bar*/
input{
	border:1px solid #3b6e22;
	background: #A0FFB1;
}

textarea{
	border:1px solid #3b6e22;
	background: #A0FFB1;
}

.account_form label{
display:block;
margin-bottom:2%;
color:#A0FFB1;
}

.account_form label span{
display:block;
width:40%;
float:left;
padding-right:2%;
text-align:right;
}

.red_button {
    display: inline-block;
    background: #ff553f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5340), color-stop(100%,#ff553f));
    background: -moz-linear-gradient(center top, #ff5340 0%, #ff553f 100%);
    -webkit-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    -moz-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px 0px 0px #c21300;
    padding: 6px 10px;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.red_button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff553f), color-stop(100%,#eb1f0c));
    background: -moz-linear-gradient(center top, #ff553f 0%, #eb1f0c 100%);
    -webkit-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #bf220d, 0px 0px 0px 1px #de2007 inset;
    -moz-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #bf220d, 0px 0px 0px 1px #de2007 inset;
    box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #bf220d, 0px 0px 0px 1px #de2007 inset;
    text-shadow: 0px 0px 0px #820f00;
}
.red_button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff553f), color-stop(100%,#eb1f0c));
    background: -moz-linear-gradient(center top, #ff553f 0%, #eb1f0c 100%);
    -webkit-box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
    -moz-box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
    box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
    text-shadow: 0px 0px 0px #820f00;
}

.black_button {
	/*basic styles*/
	color: #fff; background-color: #000;
	text-align: center;  font-size: 1em;
	
	
	/*gradient styles*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f2f2f), color-stop(.5, #1e1f1f), color-stop(.51, #0c0c0c), to(#000));
	background: -moz-linear-gradient(top, #2f2f2f, #1e1f1f 50%, #0c0c0c 51%, #000);  
	
	/*border styles*/
	border-top: solid 2px #555;
	border-bottom: solid 2px #111;
	-moz-box-shadow:inset 0 0 15px #000000;
	-webkit-box-shadow:inset 0 0 15px #000000;
	box-shadow:inset 0 0 15px #000000;
}

.black_button p {
	//font-size: 0.8em;
	line-height: 110%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: 0px 0px 3px #888;
 
}

.black_button:hover {
	-moz-box-shadow:inset 0 0 50px #000000;
	-webkit-box-shadow:inset 0 0 50px #000000;
	box-shadow:inset 0 0 50px #000000;
}
 
.black_button p:hover {
	text-shadow: 0px 0px 3px #444;
}

.errors {
	color: white;
	background-color: grey;
	border: 1px solid;
	margin: 1% 0%;
	padding:0.1% 0.1% 0.2% 0.2%;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}

#slogan{
	color:white;
}

.header{
	margin-top:0.3%;
	margin-left:1%;
}

#logo{
	display:inline;
}

#logo img{
	margin-top:0.5%;
	display:inline;
	width:12%;
	height:8%;
}

#page_name{
	float:right;
	display:inline;
}

#page_name font{
	color:#A0FFB1;
}

/*start beauiful list*/
.beautiful_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}
 
 .beautiful_list li {
  width:400%;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
.beautiful_list li:last-child {
  border: none;
}
 
.beautiful_list li a {
  text-decoration: none;
  color: green;
  display: block;
  width:60%;
  
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.beautiful_list li a:hover {
  font-size: 2em;

}
/*end of beautiful list*/

/*begin of cssmenu*/
/* Some stylesheet reset */
#cssmenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenu > ul {
	display: block;
	position: relative;
	width: 150px;
}

/* The list elements which contain the links */
#cssmenu > ul li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 150px;	
}

/* General link styling */
#cssmenu > ul li a {
	/* Layout */
	display: block;
	position: relative;
	margin: 0;
	border-top: 1px dotted #3a3a3a;
	border-bottom: 1px dotted #1b1b1b;
	padding: 11px 20px;
	width: 110px;

	/* Typography */
	font-family:  Helvetica, Arial, sans-serif;
	color: #d8d8d8;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	font-weight: 300;

	/* Background & effects */
	background: #282828;
}

/* Rounded corners for the first link of the menu/submenus */
#cssmenu > ul li:first-child>a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 0;
}

/* Rounded corners for the last link of the menu/submenus */
#cssmenu > ul li:last-child>a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 0;
}


/* The hover state of the menu/submenu links */
#cssmenu > ul li>a:hover, #cssmenu > ul li:hover>a {
	color: #3cc4e6;
	text-shadow: 0 1px 0 #fff;
	background: #e6e6e6;
	background: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background: -ms-linear-gradient(bottom, #e6e6e6, #fff); 
	background: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background: -o-linear-gradient(bottom, #e6e6e6, #fff);
	border-color: transparent;
}

/* The arrow indicating a submenu */
#cssmenu > ul .has-sub>a::after {
	content: '';
	position: absolute;
	top: 16px;
	right: 10px;
	width: 0px;
	height: 0px;

	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #d8d8d8; 
}

/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenu > ul .has-sub>a::before {
	content: '';
	position: absolute;
	top: 17px;
	right: 10px;
	width: 0px;
	height: 0px;
	/* Creating the arrow using borders */
	border: 4px solid transparent;
	border-left: 4px solid #000;
}

/* Changing the color of the arrow on hover */
#cssmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {
	border-left: 4px solid #3cc4e6;
}

#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
	border-left: 4px solid #fff;
}


/* THE SUBMENUS */
#cssmenu > ul ul {
	position: absolute;
	left: 150px;
	top: -9999px;
	padding-left: 5px;
	opacity: 0;
	/* The fade effect, created using an opacity transition */
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	-ms-transition: opacity .3s ease-in;
}

/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover>ul {
	top: 0px;
	opacity: 1;
}

/*end of menu*/

/*for message bar display*/
.message{
	top: 16px;
	right: 10px;
	/* Creating the arrow using borders */
	padding:2%;
	border-width:1%;
	border-style:inset;
}

.message font{
	font-size:120%;
	color:#A0FFB1;
	font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.message .message_content{
	margin-left:2%;
}

.grey_message{
	border-color:grey;
}

.pink_message{
	border-color:#E74D4D;
}

/*end message bar*/

/*for priority token*/
.priority img{
	height: 100px; 
	width: 300px;
	margin: 15px 0; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
} 
.priority img:hover { 
	height: 133px; 
	width: 400px; 
	margin-left: -50px; 
}
/*end priority token*/

/*<hr>*/
hr{
	border: 0;
	color: #FFFF00;
	background-color: #9E9E9E;
	height: 1px;
	width: 80%;
	text-align: left;
}
