<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Join-In congratulations</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script language="javascript" src="/static/scripts.js"></script>
</head>
<body>
{% include "message_modules/message_wall_header.html" %}
</br></br></br>
<font color="Brown" align="center">
	<h2>Congratulations! Dear {{user.username}},user id {{user.id}} You 
		have been a member of Join-in! <br/>
		<center><a href="/message_wall/private/view/">Start your group work here!</a></center>
	</h2>
</font> 
</body>
</html>
