<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> Join-in group message wall</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script language="javascript" src="/static/scripts.js"></script>
</head>
<body background="/static/images/background.jpg">
<!-- header starts-->
	{% include "message_modules/group_message_wall_header.html" %}<br>
<div id="container">
	<div id="leftside">
		<!--sidebar-->
		{% include "message_modules/group_message_wall_sidebar.html" %}
		<!--TODO:files belongs to this group-->	
	</div>
	<div id="rightside">
		<!--links should be in the head of group page-->
		<!---leave group button-->
		<div style="float:right;margin-right:5%;">
			<font style="color:#6960EC;float:right;" >
			<a href="/message_wall/group/{{group.id}}/leave/">
				<img src="/static/images/leave.gif" 
				width="36" height="30"  
				style="cursor:pointer;" alt="leave this group" title="leave this group"/>
			</a>
			</font>
		</div>
		
		<!--invite user button-->
		<div style="float:right;">
			<font style="color:#6960EC;float:right;padding-right:70%" >
				<img src="/static/images/invite.gif" 
				width="36" height="30"  onclick="mostraEscondeMsg('invite',true)"
				style="cursor:pointer;" alt="leave this group" title="invite a user"/>
			</font>
		</div>
		
		<!--post new message-->
			{% include "message_modules/message_sender.html" %}
			{% include "accounts_modules/apply_dialog.html" %}
			{% include "accounts_modules/invite_dialog.html" %}
		<!--START TO SHOW THE MESSAGE WALL-->
		{% include "message_modules/private_message_list.html" %}
	
	</div>
</div>

  <script language="javascript">
mostraEscondeMsg('sendMessage',false);
mostraEscondeMsg('applyGroup',false);
mostraEscondeMsg('invite',false);
mostraEscondeMsg('createGroup',false);
</script>	
	
</body>
</html>
