<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> Join-in group message wall</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<script language="javascript" src="/static/scripts.js"></script>
</head>
<body>
<!-- header starts-->
	{% include "message_modules/group_message_wall_header.html" %}<br>
<div id="container">
	<div id="leftside">
		<!--sidebar-->
		{% include "message_modules/group_message_wall_sidebar.html" %}
		<!--TODO:files belongs to this group-->	
	</div>
	<div id="rightside">
		<!--links should be in the head of group page-->
		<a href="/message_wall/group/{{group.id}}/leave/" style="float:right;">
			<input type="button" class="button" value="leave group">
		</a> &nbsp;&nbsp;
		<a href="/message_wall/group/{{group.id}}/invite/" style="float:right;">
			<input type="button" class="button" value="invite">
		</a>
		<!--post new message-->
			{% include "message_modules/message_sender.html" %}
		<!--START TO SHOW THE MESSAGE WALL-->
		{% include "message_modules/private_message_list.html" %}
	
	</div>
</div>
  <script language="javascript">
mostraEscondeMsg('sendMessage',false);
mostraEscondeMsg('createGroup',false);
mostraEscondeMsg('applyGroup',false);
mostraEscondeMsg('invite',false);
</script>	
	
</body>
</html>
