{% extends 'base.html' %}
{% block title%}
	<title>Siqhy log in</title>
{% endblock %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/login_layout.css">
{% endblock %}

{% block js %}
	<script language="javascript" src="/static/scripts.js"></script>
{% endblock %}

{% block header %}
	{% include "accounts_modules/register_header.html" %}	
{% endblock %}

{% block content %}
	<div id="register_block" class="glass">
			<div id="introductions">
		          <p>From now, make your group work and orgnizations as 
						clear and efficient as this message!
		          </p><br>
		          <p style="float:right;">Register Now!</p>
		        </div>
		        <div id="register_form_div" class="account_form">
				<form name="register_form" id="register_form" method="POST">
					{% csrf_token %}					
					<fieldset>
						<legend>Kick it started!</legend>					
				    		<label >
								<span>{{register_form.email.label}}</span>
								{{register_form.email}}
				    		</label>
				    		<label >
								<span >{{register_form.password.label}}</span>
								{{register_form.password}}
				    		</label>
				    		<label>
								<span>{{register_form.confirm_password.label}}</span>
								{{register_form.confirm_password}}
				    		</label>
					</fieldset>
					<button id="register_form_submit" type="submit" value="Register" class="black_button"><p>sign up</p></button>
				</form> 
		        </div>
		        
		</div>	
{% endblock %}
	
{% block footer%}
	{% include "footer.html"%}
{% endblock %}
