<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> Join-in private message wall</title>
<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
<script language="javascript" src="/static/scripts.js"></script>
</head>
<body>
 <script language="javascript">
mostraEscondeMsg('sendMessage',false);
mostraEscondeMsg('createGroup',false);
mostraEscondeMsg('applyGroup',false);
mostraEscondeMsg('invite',false);
</script>
<!--include header for private message wall -->
{% include "message_modules/message_wall_header.html" %}
<br>
<div id="container">
	<div id="left">
		<!--groups joined-->
		{% include "message_modules/private_message_wall_sidebar.html" %}
	</div>
	<div id="middle">
		<!--post new message-->
		{% include "message_modules/message_sender.html" %}
		{% include "accounts_modules/apply_dialog.html" %}
		{% include "accounts_modules/create_group.html" %}
	
	<!--START TO SHOW THE MESSAGE WALL-->
	{% include "message_modules/private_message_list.html" %}
	</div>
	<div id="right" align="top">
		<!--notifications-->
		{% include "message_modules/notifications.html" %}
	</div>
</div>

 <script language="javascript">
mostraEscondeMsg('sendMessage',false);
mostraEscondeMsg('applyGroup',false);
mostraEscondeMsg('createGroup',false);
mostraEscondeMsg('invite',false);
</script>
</body>
</html>
