{% extends 'mainframe_base.html' %}
{% block title%}
	<title>Your Siqhy private message wall</title>
{% endblock %}

{% block left_sidebar %}
	<div class="left_sidebar">
		{% include "message_modules/private_message_wall_sidebar.html" %}
	</div>
{%endblock%}

{% block wall %}
	<div class="wall">
		<!--post new message-->
		{% include "message_modules/message_sender.html" %}
    <script language="javascript">
      mostraEscondeMsg("sendMessage",false);
    </script>
		{% include "accounts_modules/apply_dialog.html" %}
    <script language="javascript">
      mostraEscondeMsg("applyGroup",false);
    </script>
		{% include "accounts_modules/create_group.html" %}
	  <script language="javascript">
      mostraEscondeMsg("createGroup",false); 
    </script>
	<!--START TO SHOW THE MESSAGE WALL-->
	{% include "message_modules/private_message_list.html" %}
	</div>
{%endblock%}

{% block right_sidebar %}
	<div class="right_sidebar">
		<a href='javascript:fg_popup_form("send_message_window","send_message_inner_container","fg_backgroundpopup");' id="send_message_button"
			alt="Write a message" title="Write a message" class="red_button"> Send A New Message</a>
	</div>
	<!--
	<div class="right_sidebar">
	{%include 'message_modules/notifications.html'%}
	</div>
	-->
{%endblock%}
