{% extends "base.html" %}
{% block content %}
<br><br>
<a href="/accounts/register/"><img src="/static/images/register-button.jpg" align="right" width="100" height="38"></a>
<form method="POST" action="" enctype="multipart/form-data" align="center"">
	<br><br><br><br><br>
		{% csrf_token %}
		Username:{{form.username}}<br><br>
		Password:{{form.password}}<br><br>
		<input name="Submit" type="submit" value="submit">&nbsp;<a href="/accounts/forget_password/">Forget password?</a>
	</table>
</form>
{% endblock %}