{% extends "base.html" %}
{% block content %}
<br><br>
<h1 align='center'>Register</h1>

<form method="POST" action="" enctype="multipart/form-data" align="center"">
	<br><br><br><br>
	{% if errors %}
		{% for error in errors %}
		<p align="center" style="color:red;"><b>{{error}}</b></p>
		{% endfor %}
	{% endif %}
		{% csrf_token %}
		{% if form.email.errors %}
			{% for e_error in form.email.errors %}
				<p align="center" style="color:red;">{{e_error}}</p>
			{% endfor %}
		{%  endif %}
		Email address:{{form.email}}<br><br>
		{% if form.email.errors %}
			{% for p_error in form.password.errors %}
				<p align="center" style="color:red;">{{p_error}}</p>
			{% endfor %}
		{%  endif %}
		Password:{{form.password}}<br><br>
		{% if form.email.errors %}
			{% for c_error in form.confirm_password.errors %}
				<p align="center" style="color:red;">{{c_error}}</p>
			{% endfor %}
		{%  endif %}
		Confirm password:{{form.confirm_password}}<br><br>
		<input name="Submit" type="submit" value="submit">
	</table>
</form>
{% endblock %}