{% extends "base.html" %}
{% block content %}
<br><br>
<h1 align='center'>Register</h1>

<form method="POST" action="" enctype="multipart/form-data" align="center"">
	<br><br><br><br>
	{% if errors %}
		{% for error in errors %}
		<p align="center" style="color:red;"><b>{{error}}</b></p>
		{% endfor %}
	{% endif %}
		{% csrf_token %}
		<font style="color:red;">{{form.email.errors}}</font>
		Email address:{{form.email}}<br><br>
		<font style="color:red;">{{form.password.errors}}</font>
		Password:{{form.password}}<br><br>
		<font style="color:red;">{{form.confirm_password.errors}}</font>
		Confirm password:{{form.confirm_password}}<br><br>
		<input name="Submit" type="submit" value="submit">
	</table>
</form>
{% endblock %}